body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1c2833;
}
.formularios .contenedorFomulario{
    width: 500px;
    margin: 0 auto;    
}
.formularios{
    outline: solid 3px #fff;
     width: 50%;
     overflow: hidden;
     height: 50%;
     display: flex;
     align-items: center;
    border-radius: 10px;
 }
.formularios .contenedorFomulario h2{
    text-align: center;
    font-size: 2.5rem;
    color: #fff
}
.formularios .contenedorFomulario .opciones{
    color: #fff;
}

.formularios .contenedorFomulario label{
    display: block;
    font-weight: bold;
    padding: 5px 0;
    color: #fff
}
.formularios .contenedorFomulario input.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #6f636397;
    border-radius: 5px;
}
.formularios .contenedorFomulario input:focus{
    outline: solid 1px #7ed5da;
}
.btnLogin{
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    font-weight: bolder;
    display: block;
    outline: solid 2px #fff;
    border-radius: 10px;
}

.formularios .contenedorFomulario .btnLogin:hover{
    outline: solid 2px #3644df;
}
@media screen and (max-width: 1060px){
    .formularios .contenedorFomulario{
        width: 350px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 740px){
    .formularios .contenedorFomulario h2{
        text-align: center;
        font-size: 2rem;
        color: #fff
    }
    .formularios .contenedorFomulario{
        width: 180px;
        margin: 0 auto;
    }
}